<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   配置这个属性为 true 可以自动将以下画线方式命名的数据库列映射到 Java 对象的驼峰式命名属性中     -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--  别名 :通过设置 MyBatis 的全局配置文件typeAliases 属性后，就可以为 sql 映射文件中的输入 / 输出参数设置类型别名，然后在 sql 映射配置文件中指定输入输出参数类型时使用的别名。  -->
    <typeAliases>
        <!--批量定义别名，批量指定很简单，只要指定包名即可，之后程序会为包下的所有类都自动加上别名，其定义别名的规范就是对应包装类的类名首字母变为小写-->
        <package name="com.pdsu.bean" />
    </typeAliases>

<!--    &lt;!&ndash;  配置数据库  &ndash;&gt;-->
<!--        <environments default="mysql">-->
<!--            <environment id="mysql">-->
<!--                &lt;!&ndash;  指定事物类型  &ndash;&gt;-->
<!--                <transactionManager type="JDBC"></transactionManager>-->
<!--                &lt;!&ndash;  指定数据源 &ndash;&gt;-->
<!--                <dataSource type="POOLED">-->
<!--                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                    <property name="url" value="jdbc:mysql://localhost:3306/helpWebsite?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>-->
<!--                    <property name="username" value="root"/>-->
<!--                    <property name="password" value="123456"/>-->
<!--                </dataSource>-->
<!--            </environment>-->
<!--        </environments>-->

    <!-- 注册分页插件 -->
<!--    <plugins>-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>-->
<!--    </plugins>-->

    <!--  mappers-持久化文件映射  -->
<!--    <mappers>-->
<!--        <mapper resource="com/pdsu/mappers/UserMapper.xml"></mapper>-->
<!--    </mappers>-->
</configuration>